----
#### ASSIGNMENT

----

1. **Research on the two methods of copying a list with examples.** <br> 
  >Copying a list  means creating a new list that contains the same elements as the original list. <br>
  ##### The two methods are:
  - The copy() method
  - The slicing method

In [14]:
Newlist = ["Adams", 25, "Single", 94567, "05 Apple lane", "Administrator"]
print(Newlist)

['Adams', 25, 'Single', 94567, '05 Apple lane', 'Administrator']

In [16]:
Copiedlist = Newlist.copy()
print(Copiedlist)

['Adams', 25, 'Single', 94567, '05 Apple lane', 'Administrator']

In [20]:
Copiedlist = Newlist[:]
print(Copiedlist)

['Adams', 25, 'Single', 94567, '05 Apple lane', 'Administrator']

2. **Differentiate between the find, count and index methods.** <br>
- *Explain the differences and provide examples of each methods*.

 
  >FIND:
> Imagine you have a long piece of text and you want to find out where a certain word appears for the first time, you can use find to do this. <br>
>The find is used to search for a specific substring (a small part of a string) within a larger string. If the substring is not found, it returns -1. <br>
>The parameter find takes are value, start(Where to start the search. Default is 0), end(Where to end the search)<br>
>Let's say i have a sentence:

In [46]:
sentence = "Hello, welcome to the world of python programming world."
print(sentence)

Hello, welcome to the world of python programming world.

**Perhaps i want to find out where the word "world" starts in the sentence.**

In [48]:
counting = sentence.find("world")
print(counting)

22

In [52]:
counting = sentence.find("Java")
print(counting)

-1

In [57]:
txt = "Hello, welcome to my world"
x = txt.find("e", 5, 10)
print(x)

8

>COUNT: Count method is like a tool that helps you figure out how many times a small part (substring) of a text (string) appears in the whole text. There are some differences between count for string and count for lists.

In [64]:
a = "I have had an apple on my desk before!"
print(a)

I have had an apple on my desk before!

In [68]:
a.count("e")

5

In [92]:
b = "5", "6", "6", "7", "8"
print(b)

('5', '6', '6', '7', '8')

In [88]:
b.count("6")

2

>INDEX: The index method is used to find the first occurrence of a specified value in a list, string or tuple. It returns the index (position) of the value. If the value is not found, it raises a value error.

In [107]:
fruits = ["Grapes", "Guava", "Strawberry", "Cherry"]
fruits.index("Cherry")

3

In [103]:
text = "hello world"
text.index("o")

4

In [105]:
Numbers = (20, 40, 50, 60, 70, 80)
Numbers.index(70)

4

In [109]:
fruits.index("Pear")
print(fruits)

ValueError: 'Pear' is not in list

3. **Create a Personal “To-Do List”** <br>- Utilize various list functions. <br>- Remove the entire list. <br>

In [171]:
my_list = ['Eat breakfast', 'Attend meetings', 'Respond to emails', 'Clean kitchen', 'Read a book', 'Relax']
print(my_list)

['Eat breakfast', 'Attend meetings', 'Respond to emails', 'Clean kitchen', 'Read a book', 'Relax']

*I forgot to add 'take out the trash' to my household chores, i would use append*

In [137]:
my_list.append('Take out the trash')
print(my_list)

['Eat breakfast', 'Attend meetings', 'Respond to emails', 'Clean kitchen', 'Read a book', 'Relax', 'Take out the trash']

In [151]:
# i want to add it just after 'clean the kitchen'
my_list.insert(4, 'Take out the trash')
print(my_list)

['Eat breakfast', 'Attend meetings', 'Respond to emails', 'Clean kitchen', 'Take out the trash', 'Take out the trash', 'Take out the trash', 'Read a book']

In [155]:
#I want to take out the duplicate 'take out the trash'
my_list.pop(5)
print(my_list)

['Eat breakfast', 'Attend meetings', 'Respond to emails', 'Clean kitchen', 'Take out the trash', 'Read a book']

In [157]:
#Creating another list
Shopping_list = ['Sponges', 'Trash bag', 'Shampoo', 'Rice', 'Toothpaste']
print(Shopping_list)

['Sponges', 'Trash bag', 'Shampoo', 'Rice', 'Toothpaste']

In [173]:
#I want to join this new list to the one i have before
my_list.extend(Shopping_list)

In [175]:
my_list

['Eat breakfast',
 'Attend meetings',
 'Respond to emails',
 'Clean kitchen',
 'Read a book',
 'Relax',
 'Sponges',
 'Trash bag',
 'Shampoo',
 'Rice',
 'Toothpaste']

In [181]:
#I want to sort my list in acsending order
my_list.sort()

In [179]:
my_list

['Attend meetings',
 'Clean kitchen',
 'Eat breakfast',
 'Read a book',
 'Relax',
 'Respond to emails',
 'Rice',
 'Shampoo',
 'Sponges',
 'Toothpaste',
 'Trash bag']

In [183]:
#I change my mind and want it in descending order
my_list.reverse()

In [185]:
my_list

['Trash bag',
 'Toothpaste',
 'Sponges',
 'Shampoo',
 'Rice',
 'Respond to emails',
 'Relax',
 'Read a book',
 'Eat breakfast',
 'Clean kitchen',
 'Attend meetings']

In [187]:
#I want a copy of the list
Copy_list = my_list.copy()

In [189]:
Copy_list

['Trash bag',
 'Toothpaste',
 'Sponges',
 'Shampoo',
 'Rice',
 'Respond to emails',
 'Relax',
 'Read a book',
 'Eat breakfast',
 'Clean kitchen',
 'Attend meetings']

In [193]:
#I want to find out where 'Relax' starts in my list
my_list.index('Relax')

6

In [197]:
#I want to count how many occurences of 'Rice' i have in my list
my_list.count('Rice')

1

In [199]:
#I want to remove 'Shampoo' from my list
my_list.remove('Shampoo')

In [201]:
my_list

['Trash bag',
 'Toothpaste',
 'Sponges',
 'Rice',
 'Respond to emails',
 'Relax',
 'Read a book',
 'Eat breakfast',
 'Clean kitchen',
 'Attend meetings']

* I want to clean out the elements in my string leaving just an empty string

In [204]:
my_list.clear()

In [206]:
my_list

[]

4. **Research on how to update a Tuple, if possible.**

 >The elements of a tuple cannot be updated or modified will result in TypeError but a tuple can be manipulated for an update. <br>
*We can update a tuple element value by converting or typecast the tuple to a list, make the necessary changes and convert it back to a tuple.*

In [233]:
original_tuple = (10, 20, 30, 40, 50)
print(original_tuple)

(10, 20, 30, 40, 50)

In [215]:
original_tuple = list(original_tuple)
print(type(original_tuple))

<class 'list'>

In [217]:
#Now i want to update the second element (index 1)
original_tuple[1] = 2
print(original_tuple)

[10, 2, 30, 40, 50]

In [219]:
#Convert the list back to a tuple
original_tuple = tuple(original_tuple)
print(type(original_tuple))

<class 'tuple'>

In [221]:
original_tuple

(10, 2, 30, 40, 50)

*We could also slice the tuple and concate the values we want to add, with this method the values can be changed without changing the original tuple*

In [263]:
original_tuple[:2] + (3, 4, 5) + original_tuple[2:]

(10, 20, 3, 4, 5, 30, 40, 50)

*We could also using packing and unpacking*
>Packing and unpacking refer to the process of combining multiple values into a tuple(packing) or extracting values from a tuple (unpacking).

In [273]:
#Unpacking the tuple into individual variables
first, second, third, fourth, fifth = original_tuple

In [276]:
original_tuple

(10, 20, 30, 40, 50)

In [282]:
updated_tuple = (first, second, 35, fourth, fifth)
print(original_tuple)
print(updated_tuple)

(10, 20, 30, 40, 50)
(10, 20, 35, 40, 50)