1.	Create a DataFrame using a Dictionary of Lists: <br>
	•	Create a dictionary with two keys: "Name" and "Age". <br>
	•	Assign a list of 5 names to "Name" and a list of corresponding ages to "Age". <br>
	•	Use Pandas to convert this dictionary into a DataFrame. <br>
Hint: Remember that the keys in the dictionary will be the column names in the DataFrame. <br>

In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
personal_info = {
'name': ['jeff', 'naomi', 'moyo', 'rukevwe', 'ayo'],
'age': [25, 12, 18, 30, 17]
}

personal_info = pd.DataFrame(data = personal_info)
personal_info

      name  age
0     jeff   25
1    naomi   12
2     moyo   18
3  rukevwe   30
4      ayo   17

Create a DataFrame:

Use the NumPy array to create a DataFrame with the following column names: ID, Name, Age.
Display the DataFrame:

Print the DataFrame to see the result.

In [3]:
student_info = np.array([[1, 'Bola', '13'], [2, 'Tola', '30'],[3, 'Bolu', '18']])

student_info = pd.DataFrame(data = student_info, columns=['id','name', 'age'])

NameError: name 'np' is not defined