---
## *Assignment*

---

> Check for the use cases of: <br> 
- isdigits
- Encode
- Replace
- Translate

### 1. *isdigits* <br>
This is used to check if a string contains only numbers. <br>
If the string is made up only numbers, it returns TRUE and if there is anything other than numbers in the string like letters or symbols it returns FALSE.

In [24]:
first_string = "100001200"
print(first_string)

100001200

In [26]:
print(type(first_string))

<class 'str'>

>If we use isdigits on this string , it will return true because the string is all numbers.

In [29]:
first_string.isdigit()

True

In [31]:
second_string = "100a%678$"
print(second_string)

100a%678$

>This will return false because the string has a letter and symbols in it.

In [34]:
second_string.isdigit()

False

### 2. *Encode*
Encode converts a string into bytes (a form of data that computers can easily process and transmit). <br> 
<br>This is necessary because computers store and handle data in bytes, not in human-readable text.

In [51]:
intro_string = 'Hi, i just joined this class.'
print(intro_string)

Hi, i just joined this class.

In [53]:
intro_string.encode()

b'Hi, i just joined this class.'

### 3. *Replace*

Replace method replaces a specified phrase with another specified phrse in a string. <br>
The parameter replace takes is:
* Old value - The phrase in the string to search for.
* New value - The phrase in the string to replace the old value
* Count - This specifies how many times you want to replace the old value, it is optional. <br>
By default replace will replace all the old value with the new one.

In [59]:
txt = "I like bananas"
print(txt)

I like bananas

In [61]:
txt.replace('bananas', 'apples')

'I like apples'

In [63]:
txt_2 ='The weather is rainy today, it might be rainy tomorrow'
print(txt_2)

The weather is rainy today, it might be rainy tomorrow

In [69]:
txt_2.replace('rainy', 'sunny', 1)

'The weather is sunny today, it might be rainy tomorrow'

In [71]:
txt_2.replace('rainy', 'sunny', 2)

'The weather is sunny today, it might be sunny tomorrow'

In [83]:
date = "2024/07/29"
print(int)

2024/07/29

In [81]:
int.replace('/', '-')

'2024-07-29'

In [99]:
Data = 'Hi!!!!!!!!, My name is Moyo'
print(Data)

Hi!!!!!!!!, My name is Moyo

In [101]:
Data.replace('!', '')

'Hi, My name is Moyo'

### 4. *Translate*
 The translate method returns a string where some specified characters are replaced with the characters described in a mapping table or a translation table. <br>
 The marktrans() is used to create a mapping table without it the characters will not be replaced or translated.

In [128]:
ano_txt = 'Hi, moyo'
final_txt = str.maketrans('m','t')
print(ano_txt.translate(final_txt))

Hi, toyo

In [124]:
Word ='rubbish'
x ='r'
y= 'h'
z= 'h'
full_word = str.maketrans(x, y, z)
print(Word.translate(full_word))

hubbis