---
#### PACKING AND UNPACKING TUPLES

---

In [4]:
my_tup = (9,3,8, 0, 'Victor', 'apples', [1, 2, 3, 4, 4], (2, 6, 7, 4))
print(my_tup)

(9, 3, 8, 0, 'Victor', 'apples', [1, 2, 3, 4, 4], (2, 6, 7, 4))

In [12]:
#Using the *method to pack and unpack tuples
my_tup, *my_tup_2 = (9,3,8, 0, 'Victor', 'apples', [1, 2, 3, 4, 4], (2, 6, 7, 4))
#It assigns the first element to my_tup and the rest of the elements into my_tup_2
print(my_tup)
print(my_tup_2)

9
[3, 8, 0, 'Victor', 'apples', [1, 2, 3, 4, 4], (2, 6, 7, 4)]

### **SET**
Set is a collection which is unordered, unchangeable and unindexed. They do not allow duplicate value, in set "true" and "1" is considered the same value while "False" and "0" are considered the same value.
The two methods of creating a set are with: <br>
- {}
- Using the set constructor: set()

In [70]:
my_set1 = {2,2,3,3,4,5,"Victor","victor"} #Creating a set 

fruit_set = {'apple', 'apple', 'mango', 'orange'}
print(type(my_set1)) #Checking the data type
print(my_set1)
print(fruit_set) #Set does not allow duplicate values, so the result set will bring only distinct values.

<class 'set'>
{2, 3, 4, 5, 'victor', 'Victor'}
{'orange', 'mango', 'apple'}

**Accessing items in a set**.

In [25]:
#Loop way
for x in my_set1:
    print(x)

2
3
4
5
victor
Victor

In [27]:
len(my_set1)

6

In [37]:
this_set = {12, 3, 4, 5, 6, True, 1} #In set 'true' and '1' are considered the same.

print(this_set)

{True, 3, 4, 5, 6, 12}

In [45]:
that_set = {12, 24, 56, 78, False, 0} #In set 'false'and '0' are considered the same.
that_set

{False, 12, 24, 56, 78}

In [47]:
that_set.add(33) #Adding into a set can be done with a .add() method
that_set

{False, 12, 24, 33, 56, 78}

In [49]:
True in that_set

False

In [51]:
False in that_set

True

In [53]:
True not in that_set #Accessing the elements in our set using boolean

True

In [55]:
fruit_set.update({'Watermelon'}) #Adding values into our set using .update() method
fruit_set

{'Watermelon', 'apple', 'mango', 'orange'}

In [74]:
fruit_set.update({'Watermelon'})
fruit_set

{'Watermelon', 'apple', 'mango', 'orange'}

In [60]:
new_set = set() #Creating a set using the second way
type(new_set)

set

In [ ]:
fruit_set.remove('Watermelon') #Removing a value that is not needed.
print(fruit_set)

In [84]:
fruit_set.discard('Watermelon') #Discard does the same as remove but does not throw an error if the item has 
#been removed and we want to remove it again.
fruit_set

{'apple', 'mango', 'orange'}

In [88]:
fruit_set.discard('orange')
fruit_set

{'apple', 'mango'}

---
##### DICTIONARY

---

> A dictionary is a collection that is ordered, changeable and does not take duplicate values. They are used to store data in key value pairs. Whenever you declare and empty curly bracket ({}), python automatically sees it as a dictionary. Except in cases where values are passed and do not contain key value pair.

In [91]:
my_set = {}
print(type(my_set))

<class 'dict'>

In [114]:
random_dict = {
    'Key 1':'Value 1',
    'Key 2':'Value 2',
    'Key 1':'Value 3'}
random_dict

{'Key 1': 'Value 3', 'Key 2': 'Value 2'}

 - **Accessing Dictionary Value.**

In [116]:
random_dict['Key 3'] #This threw an error because there is no key 3 in the dictionary.

KeyError: 'Key 3'

In [118]:
random_dict.get('Key 3') #This would not throw an error although there is no key 3

In [120]:
random_dict.get('Key 2')

'Value 2'

### *A list and a dictionary cannot be used as a key*

In [135]:
dict_2 = { #A list and a dictionary cannot be used as a key
    "x" : 3,
    1 : [1, 2, 3, 3, 4, 5],
    'my_tup' : ("fruits", 3.14),
    2.12 : "Victor",
    True : 2,
    (True, False) : 23
}
print(dict_2)

{'x': 3, 1: 2, 'my_tup': ('fruits', 3.14), 2.12: 'Victor', (True, False): 23}