#### INTEGERS

---

Integers are whole number and not a fraction number.

---

###### Arithmetic Operatiobs with integers
Additions (+) <br>
Subtractions (-) <br>
Division (/, //) <br>
Multiplication (*) <br>
Modulo (%) <br>
Exponential - raise to power (**)

In [3]:
type(52)

int

In [5]:
# For the division sign (/), it divides and returns the decimal points.
print(18/4)

4.5

In [7]:
# For the divisipn sign (//), it divides and return only the whole number.
print(18//4)

4

In [14]:
# Variables
first_int = 34
second_int = 21
third_int = 12
fourth_int = 45
print(first_int, second_int, third_int, fourth_int)

34 21 12 45

In [12]:
print(type(first_int))

<class 'int'>

In [16]:
# Addtion
print (first_int + second_int)

55

In [18]:
# Subtraction
print (third_int - first_int)

-22

In [20]:
# If we want to get postive values irrespective of the bigger or smaller, we use absolute
print (abs(third_int - first_int))

22

In [22]:
#Modulo returns the reminder of the division
print(second_int % third_int)

9

In [24]:
#Exponential 
print(first_int ** third_int)

2386420683693101056

---
## Order of precedence 
---
>B -> brackets <br>
>E -> exponential <br>
>D -> Division <br>
>M -> Multiplication <br>
>A -> Addition <br>
> S -> Subtraction

In [34]:
(9/3) * (2%5) / (81 ** (1/4))

2.0

## Floating  point numbers.

In [37]:
float_1 = 1.0
float_2 = 3.5
int_1 = 1

print(type(float_1))
print(type(float_2))
print(type(int_1))

<class 'float'>
<class 'float'>
<class 'int'>

In [39]:
print(float_1 + float_2)

4.5

In [43]:
print(float_1 ** float_2)

1.0

In [45]:
# You can convert or typecasting an integer into a float and vice versa
float(first_int)

34.0

In [51]:
# Incase you want to run a code ignoring the number after the point
3 ** int(float_1)

3

### Strings and operations
------

In [69]:
my_str_1 = 'My name is Naomi'
my_str_2 = "I am a Data Scientist"
my_str_3 = """Talk is cheap show me the code"""

print(my_str_1)
print(my_str_2)
print(my_str_3)

My name is Naomi
I am a Data Scientist
Talk is cheap show me the code

In [71]:
#Len: this string counts the number of characters including the spaces.
print(len(my_str_3))

30

In [41]:
my_str_1 = "Hello World"
print(my_str_1)

Hello World

In [43]:
#Slicing strings using range
my_str_1[6:11]

'World'

In [45]:
#We could also write it like this
my_str_1[6:len(my_str_1)]

'World'

In [47]:
my_str_1[ :5]

'Hello'

In [49]:
my_str_1[0: ]

'Hello World'

* The first opening is for the first character in the string
* The last one after the second column is the last character in the string

In [60]:
#Say we want to skip a character
my_str_1[ : : 1]

'Hello World'

In [53]:
my_str_1 [ : : 2]

'HloWrd'

**Positive indexing starts from 0. The first character of the string has an index of 0, the second character has an index of 1, and so on.**

**Negative indexing starts from -1. The last character has an index of -1 and the second last character has an index of -2 and so on**

In [56]:
my_str_1[-1]

'd'

In [58]:
my_str_1[-1:-5:-1]

'dlro'

---
Formatting string in python using placeholders

####
What are placeholders??
Placeholders are containers for holding variables thay are represented in a curly bracket {}